version: '3.8'

services:
  api:
    build:
      context: ..
      dockerfile: infra/docker/Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - ../services/api:/app
    env_file:
      - ../services/api/.env.dev
    environment:
      - ENV_STATE=dev
    command: uvicorn manage:app --host 0.0.0.0 --port 8000 --reload
    working_dir: /app
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
