version: '3.8'

services:
  api:
    build:
      context: ..
      dockerfile: infra/docker/Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - ../services/api:/app
    env_file:
      - ../services/api/.env.dev
    environment:
      - ENV_STATE=dev
