name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    frontend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"
            - run: pnpm install
            - run: pnpm lint
            # - run: pnpm build --filter @3dix/web # Uncomment when build is fixed

    backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
            - run: pip install -r services/api/requirements.txt
            # - run: pytest services/api/tests # Uncomment when tests are ready
